$color-casper: #abb2bf;
$color-infinity: #252931;
$color-night-sky: #282c34;
$color-noble-black: #1d2025;

$color-blue-bobbin: #56b6c2;
$color-cerulean: #61afef;
$color-freshly-baked: #e5c07b;
$color-pistachio: #98c379;
$color-redstone: #e06c75;

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);